<?xml version="1.0" ?>
<!--
BSD 3-Clause License

Copyright (c) 2019, New York University and Max Planck Gesellschaft.
All rights reserved.

Redistribution and use in source and binary forms, with or without
modification, are permitted provided that the following conditions are met:

1. Redistributions of source code must retain the above copyright notice, this
   list of conditions and the following disclaimer.

2. Redistributions in binary form must reproduce the above copyright notice,
   this list of conditions and the following disclaimer in the documentation
   and/or other materials provided with the distribution.

3. Neither the name of the copyright holder nor the names of its
   contributors may be used to endorse or promote products derived from
   this software without specific prior written permission.

THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS"
AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE
DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE
FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR
SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER
CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY,
OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE
OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
-->

<robot name="brunhilde" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:property name="color_name" value="petrol" />
  <xacro:property name="mesh_ext" value="stl" />
  <xacro:property name="mesh_path" value="package://brunhilde_description/resource/xacro/meshes/" />
  <xacro:property name="col_mesh_path" value="package://brunhilde_description/resource/xacro/collisions/" />

  <material name="${color_name}">
    <color rgba="0.0 0.59 1.0 1.0"/>
  </material>

  <link name="base_link">
  </link>

  <joint name="base_joint" type="fixed">
    <origin xyz="0 0 0" rpy="0 0 0" />
    <parent link="base_link"/>
    <child link="body_frame"/>
  </joint>

  <!-- This file is based on: https://atlas.is.localnet/confluence/display/AMDW/Quadruped+URDF+Files -->
  <link name="body_frame">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="${mesh_path}solo_body.${mesh_ext}"/>
      </geometry>
      <material name="${color_name}"/>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="${col_mesh_path}solo_body.${mesh_ext}"/>
      </geometry>
    </collision>
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <mass value="1.43315091"/>
      <inertia ixx="0.00578574" ixy="0.0" ixz="0.0"
                                  iyy="0.01938108" iyz="0.0"
                                                   izz="0.02476124"
      />
    </inertial>
  </link>

  <xacro:include filename="leg.xacro"/>

  <!-- Include the front left leg -->
  <xacro:leg
    prefix="FL"
    is_front="true"
    is_right="false"
    mesh_path="${mesh_path}"
    mesh_ext="${mesh_ext}"
    col_mesh_path="${col_mesh_path}"
    color_name="${color_name}"/>

  <!-- Include the front right leg -->
  <xacro:leg
    prefix="FR"
    is_front="true"
    is_right="true"
    mesh_path="${mesh_path}"
    mesh_ext="${mesh_ext}"
    col_mesh_path="${col_mesh_path}"
    color_name="${color_name}"/>


  <!-- Include the hind left leg -->
  <xacro:leg
    prefix="HL"
    is_front="false"
    is_right="false"
    mesh_path="${mesh_path}"
    mesh_ext="${mesh_ext}"
    col_mesh_path="${col_mesh_path}"
    color_name="${color_name}"/>


  <!-- Include the hind right leg -->
  <xacro:leg
    prefix="HR"
    is_front="false"
    is_right="true"
    mesh_path="${mesh_path}"
    mesh_ext="${mesh_ext}"
    col_mesh_path="${col_mesh_path}"
    color_name="${color_name}"/>

  <xacro:include filename="brunhilde_gazebo.xacro"/>
  <xacro:include filename="brunhilde_ros2_control.urdf.xacro"/>

</robot>
